body {
  font-family: sans-serif;
}
.mpd_window {
  width: 40%;
  border: 2px solid;
}
.song_info {
  background-color: #D3D3D3;
}
.playlist {
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow-y: auto;
  display: block;
  width: 100%;
  height: 101px;
}
.playlist_entry {
  border-bottom: 1px solid;
}
.playlist_link {
  text-decoration: none;
  color: black;
}
.playlist_playing {
  background-color: #D3D3D3;
}
.control_link {
  padding-right: 8px;
}
.monospace {
  font-family: monospace;
  font-size: 150%;
}
#timeslider {
  width: 70%;
}
#cover_art_div {
  float: right;
  padding: 1px;
}
#search {
  width: 60%;
  padding-top: 20px;
}
#search_results {
  border: 1px solid;
  display:none;
}
.search_result {
  border-bottom: 1px solid;
}
