{% extends "base.html" %}
{% block body %}
  <h1>JuiceBox</h1>
    <div id='mpd'></div>
    <script type='text/template' id='mpd_template'>
      <div class='mpd_window'>
        <div class='song_info'>
          <div class='monospace'>
            <label><%- title %></label>
          </div>
          <div class='monospace'>
            <small><label><%- artist %></label> - <label><%- album %></label></small>
          </div>
          <div>
            <span id='time'><%- elapsed %></span>&nbsp;<input id='timeslider' type='range' min=0 max=<%- time %> step=1 value=<%- elapsed %>/><%- time %>
          </div>
        </div>
        <div class='mpd_controls'>
          <i class='fa fa-2x fa-play control_link' data-operation='play' title='Play'></i>
          <i class='fa fa-2x fa-pause control_link' data-operation='pause' title='Pause'></i>
          <i class='fa fa-2x fa-fast-backward control_link' data-operation='previous' title='Previous'></i>
          <i class='fa fa-2x fa-stop control_link' data-operation='stop' title='Stop'></i>
          <i class='fa fa-2x fa-fast-forward control_link' data-operation='next' title='Next'></i>
          <i class='fa fa-2x fa-random control_link' data-operation='shuffle' title='Shuffle'></i>
          <i class='fa fa-2x fa-question control_link' data-operation='random' title='Random'></i>
          <i class='fa fa-2x fa-times control_link' data-operation='clear' title='Clear all'></i>
        </div>
      </div>
    </script>
{% endblock %}
