<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JuiceBox</title>
    <meta name="description" content="A Jukebox." />
    <script src='http://underscorejs.org/underscore-min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://backbonejs.org/backbone-min.js'></script>
    <link rel='stylesheet' type='text/css' href='static/mpd.css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>JuiceBox</h1>
    <div id='mpd'></div>
    <script type='text/template' id='mpd_template'>
      <div class='mpd_window'>
        <div class='song_info'>
          <div class='monospace'>
            <label><%- title %></label>
          </div>
          <div class='monospace'>
            <small><label><%- artist %></label> - <label><%- album %></label></small>
          </div>
        </div>
        <div class='mpd_controls'>
          <i class='fa fa-2x fa-play control_link' data-operation='play' title='Play'></i>
          <i class='fa fa-2x fa-pause control_link' data-operation='pause' title='Pause'></i>
          <i class='fa fa-2x fa-fast-backward control_link' data-operation='previous' title='Previous'></i>
          <i class='fa fa-2x fa-stop control_link' data-operation='stop' title='Stop'></i>
          <i class='fa fa-2x fa-fast-forward control_link' data-operation='skip' title='Next'></i>
          <i class='fa fa-2x fa-random control_link' data-operation='shuffle' title='Shuffle'></i>
          <i class='fa fa-2x fa-question control_link' data-operation='random' title='Random'></i>
          <i class='fa fa-2x fa-times control_link' data-operation='clear' title='Clear all'></i>
        </div>
      </div>
    </script>
    <script src='static/app.js'></script>
  </body>
</html>
