<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JuiceBox</title>
    <meta name="description" content="A Jukebox." />
  </head>
  <body>
    <h1>JuiceBox</h1>
    <p>Hello, world.</p>
  </body>
</html>
