{% extends "base.html" %}
{% block body %}
<h1>JuiceBox - signup</h1>
    <form method='post' action='/register'>
      <label for='username'>Username:</label><input type='text' name='username'><br />
      <label for='email'>email:</label><input type='text' name='email'><br />
      <label for='password'>Password:</label><input type='password' name='password'><br />
      <label for='password_confirm'>Password (again):</label><input type='password' name='password_confirm'><br />
      <input type='submit' value='Register'>
    </form>
{% endblock %}
